@import "tailwindcss";

.canvas-container {
    min-height: 100vh
}

#root {
    min-height: 100vh;
    /* Takes full screen by default */
    height: auto;
    /* Grows infinitely if inner div expands */

}